.form-fields-container {
  width: 60%;
  margin: 2rem auto;
}

.form-field-label {
  margin-bottom: 2rem;
}

.form-field {
  margin-bottom: 2rem;
  position: absolute;
  right: 33rem;
}

.form-button {
  margin: 1rem 0 1rem 10rem;
}
