.form-container {
  margin: 2rem auto;
  padding: 1rem 0 0 1rem;
  background-color: aliceblue;
  width: 50%;
}

.form-heading {
  margin-left: 45%;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 2rem;
}
